:root {
    --oren: #fd636b;
    --bg: #0c1117;
    --h3: 20px;
    --h1: 50px;
    --desc: 10px;
    --jepun: 14px;
    --h4-card: 13px;
    --star: 14px;
    --desc-card: 11px;
    --icon-card: 15px;
}


.best-course {
    position: relative;
    width: 100%;
    height: 550px;
    /* background-color: red; */
    margin-top: 80px;
}


/* --------------- title */
.best-course .title {
    position: relative;
    width: 100%;
    height: 40%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 30%;
}

/* top */
.best-course .title .top,
.best-course .title .bottom {
    width: 100%;
    position: relative;
    height: 50%;
}

.best-course .title .top {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    transform: translateY(-20px);
    opacity: 0;

}

.best-course .title .top h3 {
    font-size: var(--jepun);

}

.best-course .title .top h3::after {
    height: 300%;
    top: -350%;
    width: 2.5px;
}

/* bottom */
.best-course .title .bottom p:nth-child(1) {
    font-size: var(--jepun);
    color: var(--oren);
    font-weight: 600;
}

.best-course .title .bottom p {
    font-size: var(--desc);
    color: rgba(255, 255, 255, 0.397);
    transform: translateY(-20px);
    opacity: 0;
}

.best-course .title .bottom h3 {
    margin: 3px 0;
    font-weight: 500;
    transform: translateY(-20px);
    opacity: 0;
}


.best-course .title .bottom h3::after {
    display: none;
}




/* --------------- carausel */
.best-course .carausel {
    position: relative;
    width: 100%;
    height: 60%;
    /* background-color: bisque; */
}




/* content */
#best .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    color: #fff;
    padding: 8% 20% 0% 8%;
    /* background-color: yellow; */
}

.carausel .cards .item {
    transform: scaleX(0);
    opacity: 0;
}

/* btn */
/* BTN */
#best .item button {
    position: absolute;
    bottom: 3%;
    left: 15%;
    right: 15%;
    height: 14%;
    width: 70%;
    z-index: 100;
    outline: none;
    border: none;
    background-color: var(--oren);
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: var(--h4-card);
    border-radius: 3px;
    cursor: pointer;
    transition: .3s;
    /* ------ BEFORE HOVER */
    transform: translateY(15px);
    opacity: 0;
}

#best .item button:hover {
    /* shadow */
    transition: .3s;
    box-shadow: 5px 5px 20px #fd636b86;
}

#best .content .safe-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: var(--icon-card);
    color: var(--oren);
    position: absolute;
    right: 8%;
    top: 10%;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}


#best .content h4 {
    font-size: var(--h4-card);
    font-weight: 700;
    /* ------ BEFORE HOVER */
    transform: translateY(15px);
    opacity: 0;
    transition: .3s;
    transition-delay: 0.3s;
}

#best .content .stars {
    width: 100%;
    height: auto;
    color: #f8b84e;
    margin: 5% 0;
    font-size: var(--star);
    /* ------ BEFORE HOVER */
    transform: translateY(15px);
    opacity: 0;
    transition: .3s;
    transition-delay: 0.2s;
}

#best .content p {
    font-size: var(--desc-card);
    font-weight: 600;
    /* ------ BEFORE HOVER */
    transform: translateY(15px);
    opacity: 0;
    transition: .3s;
    transition-delay: 0.1s;
}

#best .content .booking {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 18%;
    background-color: var(--oren);
    color: white;
    transition: .3s;
    transition-delay: 0s;
}

/* ----- titile awal */
.item .first-title {
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    z-index: 100;
    text-transform: uppercase;
    opacity: 1;
    transition-delay: 1s;
    transition: .3s;
}

#best .item:hover {
    transform: scale(1);
}

/* ------ HOVER CARD */
/* blur effect */

#best .item:hover img,
#best button:hover~.item img {
    filter: blur(.8px);
    -webkit-filter: blur(.8px);
}

#best .item:hover .first-title {
    opacity: 0 !important;
    transition: .3s;
}

#best .item:hover h4,
#best button:hover~.item h4 {
    transform: translateY(0px);
    opacity: 1;
    transition: .3s;
    transition-delay: 0;
}

#best .content:hover .stars,
#best button.booking:hover~.content .stars {
    transform: translateY(0px);
    opacity: 1;
    transition: .3s;
    transition-delay: 0.1s;
}

#best .content:hover p,
#best button.booking:hover~.content p {
    transform: translateY(0px);
    opacity: 1;
    transition: .3s;
    transition-delay: 0.2s;
}

#best .item:hover button,
#best button.booking:hover~.contenr button {
    transform: translateY(0px);
    opacity: 1;
    transition: .3s;
    transition-delay: 0.4s;
}


/* ------------------- btn slider */
#best .arrow-slider {
    color: #fff;
    position: absolute;
    top: 45%;
    font-size: 20px;
}

#best .arrow-slider .circle {
    filter: blur(.8px);
    -webkit-filter: blur(.8px);
    background-color: rgba(255, 255, 255, 0.323);
    position: absolute;
    top: -50%;

    border-radius: 50%;
    height: 200%;
    aspect-ratio: 1/1;
}

#best .arrow-slider .circle.left {
    left: -100%;
}

#best .arrow-slider.slider-left {
    left: 2%;
}

#best .arrow-slider.slider-right {
    right: 2%;
}